In [1]:
import pandas as pd
from pathlib import Path

In [2]:
file = Path(r"F:\LeagueStats\scraping\MatchHistoryScraping\match_database.csv")

In [4]:
df = pd.read_csv(file)
test_file = Path(r"F:\LeagueStats\scraping\MatchHistoryScraping\testing_dups.csv")
no_dup = df.drop_duplicates()
no_dup.to_csv(test_file, index = False, header=True)
testDF = pd.read_csv(test_file)

In [5]:
testDF.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url,champion
0,4/4/1,3,2.0,○,24.4k,18.9k,3.5k,2.0k,221.8k,196.6k,...,-.1,6,14.3k,14.3k.1,270,34,27,-.2,http://matchhistory.na.leagueoflegends.com/en/...,Jayce
1,0/7/5,0,0.0,○,3.0k,2.0k,0.6k,0.4k,109.4k,69.7k,...,-,16,8.4k,8.3k,45,98,73,1,http://matchhistory.na.leagueoflegends.com/en/...,JarvanIV
2,0/2/5,0,0.0,○,21.7k,0.6k,18.9k,2.3k,196.2k,18.5k,...,-,9,12.5k,12.2k,292,12,12,-,http://matchhistory.na.leagueoflegends.com/en/...,Orianna
3,1/4/2,1,1.0,○,18.8k,16.1k,1.0k,1.7k,309.8k,293.4k,...,-,1,15.1k,15.3k,367,39,39,-,http://matchhistory.na.leagueoflegends.com/en/...,MissFortune
4,0/4/3,0,0.0,○,5.0k,0.5k,3.6k,0.9k,27.7k,8.3k,...,-,26,7.1k,6.5k,37,-,-,-,http://matchhistory.na.leagueoflegends.com/en/...,Nautilus

In [6]:
nochamp = testDF

In [7]:
del nochamp['champion']

In [8]:
nochamp.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Wards Destroyed,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url
0,4/4/1,3,2.0,○,24.4k,18.9k,3.5k,2.0k,221.8k,196.6k,...,20,-.1,6,14.3k,14.3k.1,270,34,27,-.2,http://matchhistory.na.leagueoflegends.com/en/...
1,0/7/5,0,0.0,○,3.0k,2.0k,0.6k,0.4k,109.4k,69.7k,...,34,-,16,8.4k,8.3k,45,98,73,1,http://matchhistory.na.leagueoflegends.com/en/...
2,0/2/5,0,0.0,○,21.7k,0.6k,18.9k,2.3k,196.2k,18.5k,...,10,-,9,12.5k,12.2k,292,12,12,-,http://matchhistory.na.leagueoflegends.com/en/...
3,1/4/2,1,1.0,○,18.8k,16.1k,1.0k,1.7k,309.8k,293.4k,...,15,-,1,15.1k,15.3k,367,39,39,-,http://matchhistory.na.leagueoflegends.com/en/...
4,0/4/3,0,0.0,○,5.0k,0.5k,3.6k,0.9k,27.7k,8.3k,...,16,-,26,7.1k,6.5k,37,-,-,-,http://matchhistory.na.leagueoflegends.com/en/...

In [11]:
nochamp_dup = nochamp[nochamp.duplicated()]

In [13]:
print (nochamp_dup)

        KDA  Largest Killing Spree  Largest Multi Kill First Blood  \
480   2/6/4                      2                 1.0           ○
481   4/3/4                      3                 1.0           ○
482  5/0/10                      5                 3.0           ○
483  4/3/10                      2                 2.0           ○
484  3/3/12                      2                 1.0           ○
485   3/3/2                      2                 1.0           ●
486   1/4/4                      1                 1.0           ○
487   5/4/3                      3                 1.0           ○
488   2/6/5                      2                 1.0           ○
489   0/6/6                      0                 0.0           ○
490   1/3/4                      1                 1.0           ○
491  11/3/7                      9                 3.0           ○
492  3/1/14                      3                 2.0           ○
513  3/2/11                      3                 2.0           ○
514   3/4/9                      3                 1.0           ○
515   8/4/7                      5                 2.0           ○
516  11/3/6                      6                 2.0           ○
517   3/4/8                      3                 1.0           ○
518   5/1/7                      3                 2.0           ○
519  9/0/12                      9                 3.0           ○
520  0/6/17                      0                 0.0           ○
521   0/1/4                      0                 0.0           ○
522   1/2/3                      1                 1.0           ○
523   1/2/6                      1                 1.0           ○
524   4/3/4                      3                 1.0           ○
525   3/0/3                      3                 1.0           ○
526   1/2/4                      1                 1.0           ○
527   5/0/4                      5                 2.0           ○
528   5/1/3                      3                 1.0           ○
529   3/4/2                      3                 1.0           ○
530   0/2/4                      0                 0.0           ○
531   1/1/3                      1                 1.0           ○
532  3/3/12                      2                 1.0           ○
533  3/5/11                      3                 1.0           ○
534   9/2/9                      7                 3.0           ○
535   3/3/8                      2                 1.0           ●
536  1/4/10                      1                 1.0           ○
537   7/5/6                      5                 3.0           ○
538  2/4/11                      2                 2.0           ○

    Total Damage to Champions Physical Damage to Champions  \
480                      5.8k                         4.5k
481                     20.7k                         1.0k
482                     25.4k                         0.3k
483                     22.4k                        18.9k
484                      9.3k                         3.1k
485                     11.8k                         9.5k
486                      7.3k                         6.2k
487                     20.6k                         0.2k
488                     13.9k                        10.2k
489                      5.6k                         1.1k
490                      7.6k                         7.1k
491                     14.9k                         0.2k
492                     17.1k                        15.7k
513                     22.8k                         0.5k
514                     12.0k                         0.7k
515                     27.7k                         0.5k
516                     39.3k                        36.5k
517                     17.1k                         0.8k
518                     20.5k                        17.6k
519                     24.7k                        23.4k
520                      7.2k                         1.1k
521                     34.3k                         0.1k
522                     14.5k                        14.1k
523                      5.6k                         4.5k
524                     30.2k                         0.1k
525                     26.4k                        22.8k
526                      5.1k                         0.7k
527                     19.3k                        17.3k
528                     17.2k                        14.9k
529                     22.1k                        11.0k
530                     12.5k                         0.9k
531                      9.9k                         8.7k
532                     15.5k                         0.5k
533                     12.7k                        10.0k
534                     37.6k                        27.8k
535                     15.7k                         5.8k
536                      7.0k                         4.6k
537                     25.6k                         0.6k
538                      7.3k                         1.1k

    Magic Damage to Champions True Damage to Champions Total Damage Dealt  \
480                      0.0k                     1.3k             152.1k
481                     19.2k                     0.4k             205.5k
482                     25.0k                     0.1k             156.4k
483                      3.0k                     0.5k             199.3k
484                      4.9k                     1.3k              25.2k
485                      2.2k                     0.1k             125.3k
486                      0.8k                     0.4k             161.5k
487                     20.4k                     0.0k             200.0k
488                      3.3k                     0.3k             149.2k
489                      4.1k                     0.4k              36.7k
490                      0.4k                     0.2k             152.8k
491                     14.6k                     0.1k             175.3k
492                      1.0k                     0.4k             209.0k
513                     22.2k                     0.2k             182.9k
514                     10.2k                     1.1k             148.2k
515                     27.0k                     0.1k             356.1k
516                      1.6k                     1.2k             331.3k
517                     14.9k                     1.4k             167.1k
518                      1.4k                     1.4k             174.5k
519                      0.2k                     1.1k             181.8k
520                      5.3k                     0.8k              29.5k
521                     24.4k                     9.8k             387.4k
522                      0.2k                     0.2k             295.7k
523                      0.8k                     0.3k             219.0k
524                     29.5k                     0.6k             365.9k
525                      3.0k                     0.7k             591.9k
526                      3.3k                     1.1k              24.9k
527                      1.1k                     0.9k             285.7k
528                      1.1k                     1.2k             347.9k
529                      7.8k                     3.3k             383.6k
530                     11.1k                     0.5k             217.4k
531                      0.1k                     1.1k             202.5k
532                     13.6k                     1.4k             153.9k
533                      1.4k                     1.3k             299.3k
534                      9.8k                     0.0k             317.3k
535                      9.5k                     0.4k             136.1k
536                      1.2k                     1.2k             128.6k
537                     24.8k                     0.3k             316.3k
538                      5.3k                     1.0k              24.2k

    Physical Damage Dealt                        ...                          \
480                120.9k                        ...
481                 17.0k                        ...
482                 15.0k                        ...
483                190.8k                        ...
484                 10.2k                        ...
485                111.7k                        ...
486                110.4k                        ...
487                 12.1k                        ...
488                121.1k                        ...
489                 10.1k                        ...
490                121.4k                        ...
491                  9.3k                        ...
492                203.5k                        ...
513                 14.0k                        ...
514                 24.4k                        ...
515                  9.3k                        ...
516                314.9k                        ...
517                 38.2k                        ...
518                153.1k                        ...
519                171.1k                        ...
520                  8.9k                        ...
521                 17.8k                        ...
522                266.6k                        ...
523                164.9k                        ...
524                 14.8k                        ...
525                549.1k                        ...
526                  7.9k                        ...
527                258.9k                        ...
528                330.1k                        ...
529                351.7k                        ...
530                 23.8k                        ...
531                198.3k                        ...
532                 25.3k                        ...
533                251.1k                        ...
534                268.9k                        ...
535                 67.6k                        ...
536                 75.6k                        ...
537                 14.9k                        ...
538                  6.7k                        ...

    Wards Destroyed Stealth Wards Purchased Control Wards Purchased  \
480              24                       -                      15
481               7                       -                       8
482               3                       -                       8
483               8                       -                       3
484              18                       -                      12
485              11                       -                       7
486               5                       -                      15
487               3                       -                       3
488              14                       -                       9
489               9                       -                      13
490              18                       -                       9
491               9                       -                      12
492               8                       -                       4
513               6                     -.1                       8
514               8                       -                      18
515               3                       -                      11
516               7                       -                       2
517              21                       -                      10
518              16                       -                       9
519               7                       -                       1
520              11                       -                      20
521              10                       -                       7
522               6                       -                       9
523               8                       -                      21
524               8                       -                      18
525              20                       -                       4
526              12                       -                      30
527              11                       -                       5
528              10                       -                       2
529               3                       -                       5
530              16                       -                       5
531              17                       -                       5
532              20                       -                      13
533              18                       -                      11
534              15                       -                       7
535              16                       -                       3
536              29                       -                      12
537               5                       -                      12
538              17                       -                      25

    Gold Earned Gold Spent Minions Killed Neutral Minions Killed  \
480        9.7k       9.1k             41                    123
481       13.1k      13.3k            276                     22
482       12.7k      11.9k            231                      -
483       14.3k      13.2k            275                     16
484        9.3k       8.3k             41                      -
485       10.8k      10.4k            211                      1
486        9.9k       9.6k             21                    135
487       13.4k      12.9k            259                     23
488       11.0k      10.2k            234                      8
489        6.9k       6.6k             51                      -
490       10.1k       9.5k             29                    132
491       15.2k      13.9k            236                     25
492       13.5k      12.2k            272                     29
513       14.2k      13.4k            220                     31
514       11.4k      11.2k             38                    131
515       17.7k      15.2k            277                     66
516       19.0k      15.2k            308                     38
517       11.2k      10.6k             38                    157
518       13.2k      12.2k            242                     18
519       15.8k      13.3k            243                     18
520        8.2k       7.7k             39                      -
521       18.8k      17.4k            366                     48
522       16.8k      16.0k            323                     22
523       13.9k      13.4k             19                    195
524       19.4k      18.6k            369                     62
525       24.1k      22.1k            520                     78
526       10.3k       9.4k             34                      -
527       17.1k      15.7k            320                     65
528       19.2k      17.1k            383                     46
529       17.7k      17.7k            316                     32
530       14.1k      14.1k            296                     32
531       15.2k      15.4k            315                     15
532       11.7k      10.4k             35                    139
533       16.3k      14.7k            320                     41
534       19.5k      17.1k            343                     37
535       12.9k      12.3k            241                      9
536       10.7k      10.5k             37                    128
537       17.6k      17.8k            311                     68
538        9.1k       8.6k             37                      -

    Neutral Minions Killed in Team's Jungle  \
480                                      91
481                                      20
482                                       -
483                                       8
484                                       -
485                                       1
486                                      89
487                                      19
488                                       8
489                                       -
490                                     107
491                                      13
492                                      13
513                                      11
514                                      77
515                                      30
516                                      36
517                                     108
518                                       8
519                                      14
520                                       -
521                                      43
522                                      15
523                                     125
524                                      46
525                                      71
526                                       -
527                                      44
528                                      30
529                                      32
530                                      26
531                                      14
532                                      92
533                                      26
534                                      33
535                                       4
536                                      86
537                                      38
538                                       -

    Neutral Minions Killed in Enemy Jungle  \
480                                      4
481                                      -
482                                      -
483                                      -
484                                      -
485                                      -
486                                     11
487                                      -
488                                      -
489                                      -
490                                      2
491                                      1
492                                      4
513                                    6.1
514                                      4
515                                     28
516                                      1
517                                     12
518                                      4
519                                      -
520                                      -
521                                      4
522                                      -
523                                      5
524                                      5
525                                      2
526                                      -
527                                     10
528                                      8
529                                      -
530                                      4
531                                      -
532                                      1
533                                      4
534                                      -
535                                      1
536                                      4
537                                     20
538                                      -

                                                   url
480  https://matchhistory.na.leagueoflegends.com/en...
481  https://matchhistory.na.leagueoflegends.com/en...
482  https://matchhistory.na.leagueoflegends.com/en...
483  https://matchhistory.na.leagueoflegends.com/en...
484  https://matchhistory.na.leagueoflegends.com/en...
485  https://matchhistory.na.leagueoflegends.com/en...
486  https://matchhistory.na.leagueoflegends.com/en...
487  https://matchhistory.na.leagueoflegends.com/en...
488  https://matchhistory.na.leagueoflegends.com/en...
489  https://matchhistory.na.leagueoflegends.com/en...
490  https://matchhistory.na.leagueoflegends.com/en...
491  https://matchhistory.na.leagueoflegends.com/en...
492  https://matchhistory.na.leagueoflegends.com/en...
513  https://matchhistory.na.leagueoflegends.com/en...
514  https://matchhistory.na.leagueoflegends.com/en...
515  https://matchhistory.na.leagueoflegends.com/en...
516  https://matchhistory.na.leagueoflegends.com/en...

In [14]:
nochamp_dup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 480 to 538
Data columns (total 31 columns):
KDA                                        39 non-null object
Largest Killing Spree                      39 non-null int64
Largest Multi Kill                         39 non-null float64
First Blood                                39 non-null object
Total Damage to Champions                  39 non-null object
Physical Damage to Champions               39 non-null object
Magic Damage to Champions                  39 non-null object
True Damage to Champions                   39 non-null object
Total Damage Dealt                         39 non-null object
Physical Damage Dealt                      39 non-null object
Magic Damage Dealt                         39 non-null object
True Damage Dealt                          39 non-null object
Largest Critical Strike                    39 non-null object
Total Damage to Objectives                 39 non-null object
Total Damage to Turrets                    39 non-null object
Damage Healed                              39 non-null object
Damage Taken                               39 non-null object
Physical Damage Taken                      39 non-null object
Magic Damage Taken                         39 non-null object
True Damage Taken                          39 non-null object
Wards Placed                               39 non-null object
Wards Destroyed                            39 non-null object
Stealth Wards Purchased                    39 non-null object
Control Wards Purchased                    39 non-null object
Gold Earned                                39 non-null object
Gold Spent                                 39 non-null object
Minions Killed                             39 non-null object
Neutral Minions Killed                     39 non-null object
Neutral Minions Killed in Team's Jungle    39 non-null object
Neutral Minions Killed in Enemy Jungle     39 non-null object
url                                        39 non-null object
dtypes: float64(1), int64(1), object(29)
memory usage: 5.3+ KB

In [15]:
testDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167839 entries, 0 to 167838
Data columns (total 31 columns):
KDA                                        167839 non-null object
Largest Killing Spree                      167839 non-null int64
Largest Multi Kill                         167839 non-null float64
First Blood                                167839 non-null object
Total Damage to Champions                  167839 non-null object
Physical Damage to Champions               167839 non-null object
Magic Damage to Champions                  167839 non-null object
True Damage to Champions                   167839 non-null object
Total Damage Dealt                         167839 non-null object
Physical Damage Dealt                      167839 non-null object
Magic Damage Dealt                         167839 non-null object
True Damage Dealt                          167839 non-null object
Largest Critical Strike                    167839 non-null object
Total Damage to Objectives                 167839 non-null object
Total Damage to Turrets                    167839 non-null object
Damage Healed                              167839 non-null object
Damage Taken                               167839 non-null object
Physical Damage Taken                      167839 non-null object
Magic Damage Taken                         167839 non-null object
True Damage Taken                          167839 non-null object
Wards Placed                               167839 non-null object
Wards Destroyed                            167839 non-null object
Stealth Wards Purchased                    167839 non-null object
Control Wards Purchased                    167839 non-null object
Gold Earned                                167839 non-null object
Gold Spent                                 167839 non-null object
Minions Killed                             167839 non-null object
Neutral Minions Killed                     167839 non-null object
Neutral Minions Killed in Team's Jungle    167839 non-null object
Neutral Minions Killed in Enemy Jungle     167839 non-null object
url                                        167839 non-null object
dtypes: float64(1), int64(1), object(29)
memory usage: 21.1+ MB

In [20]:
testDF.columns

Index(['KDA', 'Largest Killing Spree', 'Largest Multi Kill', 'First Blood',
       'Total Damage to Champions', 'Physical Damage to Champions',
       'Magic Damage to Champions', 'True Damage to Champions',
       'Total Damage Dealt', 'Physical Damage Dealt', 'Magic Damage Dealt',
       'True Damage Dealt', 'Largest Critical Strike',
       'Total Damage to Objectives', 'Total Damage to Turrets',
       'Damage Healed', 'Damage Taken', 'Physical Damage Taken',
       'Magic Damage Taken', 'True Damage Taken', 'Wards Placed',
       'Wards Destroyed', 'Stealth Wards Purchased', 'Control Wards Purchased',
       'Gold Earned', 'Gold Spent', 'Minions Killed', 'Neutral Minions Killed',
       'Neutral Minions Killed in Team's Jungle',
       'Neutral Minions Killed in Enemy Jungle', 'url'],
      dtype='object')

In [21]:
df.columns

Index(['KDA', 'Largest Killing Spree', 'Largest Multi Kill', 'First Blood',
       'Total Damage to Champions', 'Physical Damage to Champions',
       'Magic Damage to Champions', 'True Damage to Champions',
       'Total Damage Dealt', 'Physical Damage Dealt', 'Magic Damage Dealt',
       'True Damage Dealt', 'Largest Critical Strike',
       'Total Damage to Objectives', 'Total Damage to Turrets',
       'Damage Healed', 'Damage Taken', 'Physical Damage Taken',
       'Magic Damage Taken', 'True Damage Taken', 'Wards Placed',
       'Wards Destroyed', 'Stealth Wards Purchased', 'Control Wards Purchased',
       'Gold Earned', 'Gold Spent', 'Minions Killed', 'Neutral Minions Killed',
       'Neutral Minions Killed in Team's Jungle',
       'Neutral Minions Killed in Enemy Jungle', 'url', 'champion'],
      dtype='object')

In [23]:
no_champ_header = ["KDA", "Largest Killing Spree", "Largest Multi Kill", "First Blood",
       "Total Damage to Champions", "Physical Damage to Champions",
       "Magic Damage to Champions", "True Damage to Champions",
       "Total Damage Dealt", "Physical Damage Dealt", "Magic Damage Dealt",
       "True Damage Dealt", "Largest Critical Strike",
       "Total Damage to Objectives", "Total Damage to Turrets",
       "Damage Healed", "Damage Taken", "Physical Damage Taken",
       "Magic Damage Taken", "True Damage Taken", "Wards Placed",
       "Wards Destroyed", "Stealth Wards Purchased", "Control Wards Purchased",
       "Gold Earned", "Gold Spent", "Minions Killed", "Neutral Minions Killed",
       "Neutral Minions Killed in Team's Jungle",
       "Neutral Minions Killed in Enemy Jungle", "url"]

In [24]:
df = pd.read_csv(file)
test_file = Path(r"F:\LeagueStats\scraping\MatchHistoryScraping\testing_dups.csv")
no_dup = df.drop_duplicates()
no_dup.to_csv(test_file, index = False, header=True)
testDF = pd.read_csv(test_file)

In [25]:
testDF.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url,champion
0,4/4/1,3,2.0,○,24.4k,18.9k,3.5k,2.0k,221.8k,196.6k,...,-.1,6,14.3k,14.3k.1,270,34,27,-.2,http://matchhistory.na.leagueoflegends.com/en/...,Jayce
1,0/7/5,0,0.0,○,3.0k,2.0k,0.6k,0.4k,109.4k,69.7k,...,-,16,8.4k,8.3k,45,98,73,1,http://matchhistory.na.leagueoflegends.com/en/...,JarvanIV
2,0/2/5,0,0.0,○,21.7k,0.6k,18.9k,2.3k,196.2k,18.5k,...,-,9,12.5k,12.2k,292,12,12,-,http://matchhistory.na.leagueoflegends.com/en/...,Orianna
3,1/4/2,1,1.0,○,18.8k,16.1k,1.0k,1.7k,309.8k,293.4k,...,-,1,15.1k,15.3k,367,39,39,-,http://matchhistory.na.leagueoflegends.com/en/...,MissFortune
4,0/4/3,0,0.0,○,5.0k,0.5k,3.6k,0.9k,27.7k,8.3k,...,-,26,7.1k,6.5k,37,-,-,-,http://matchhistory.na.leagueoflegends.com/en/...,Nautilus

In [26]:
testDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167839 entries, 0 to 167838
Data columns (total 32 columns):
KDA                                        167839 non-null object
Largest Killing Spree                      167839 non-null int64
Largest Multi Kill                         167839 non-null float64
First Blood                                167839 non-null object
Total Damage to Champions                  167839 non-null object
Physical Damage to Champions               167839 non-null object
Magic Damage to Champions                  167839 non-null object
True Damage to Champions                   167839 non-null object
Total Damage Dealt                         167839 non-null object
Physical Damage Dealt                      167839 non-null object
Magic Damage Dealt                         167839 non-null object
True Damage Dealt                          167839 non-null object
Largest Critical Strike                    167839 non-null object
Total Damage to Objectives                 167839 non-null object
Total Damage to Turrets                    167839 non-null object
Damage Healed                              167839 non-null object
Damage Taken                               167839 non-null object
Physical Damage Taken                      167839 non-null object
Magic Damage Taken                         167839 non-null object
True Damage Taken                          167839 non-null object
Wards Placed                               167839 non-null object
Wards Destroyed                            167839 non-null object
Stealth Wards Purchased                    167839 non-null object
Control Wards Purchased                    167839 non-null object
Gold Earned                                167839 non-null object
Gold Spent                                 167839 non-null object
Minions Killed                             167839 non-null object
Neutral Minions Killed                     167839 non-null object
Neutral Minions Killed in Team's Jungle    167839 non-null object
Neutral Minions Killed in Enemy Jungle     167839 non-null object
url                                        167839 non-null object
champion                                   158006 non-null object
dtypes: float64(1), int64(1), object(30)
memory usage: 21.8+ MB

In [27]:
#this should drop the duplicate rows even if for some of them there is a champion and some of them there is not.
result_df = df.drop_duplicates(subset=no_champ_header, keep='first')

In [28]:
result_df.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url,champion
0,4/4/1,3,2.0,○,24.4k,18.9k,3.5k,2.0k,221.8k,196.6k,...,-.1,6,14.3k,14.3k.1,270,34,27,-.2,http://matchhistory.na.leagueoflegends.com/en/...,Jayce
1,0/7/5,0,0.0,○,3.0k,2.0k,0.6k,0.4k,109.4k,69.7k,...,-,16,8.4k,8.3k,45,98,73,1,http://matchhistory.na.leagueoflegends.com/en/...,JarvanIV
2,0/2/5,0,0.0,○,21.7k,0.6k,18.9k,2.3k,196.2k,18.5k,...,-,9,12.5k,12.2k,292,12,12,-,http://matchhistory.na.leagueoflegends.com/en/...,Orianna
3,1/4/2,1,1.0,○,18.8k,16.1k,1.0k,1.7k,309.8k,293.4k,...,-,1,15.1k,15.3k,367,39,39,-,http://matchhistory.na.leagueoflegends.com/en/...,MissFortune
4,0/4/3,0,0.0,○,5.0k,0.5k,3.6k,0.9k,27.7k,8.3k,...,-,26,7.1k,6.5k,37,-,-,-,http://matchhistory.na.leagueoflegends.com/en/...,Nautilus

In [29]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167800 entries, 0 to 168099
Data columns (total 32 columns):
KDA                                        167800 non-null object
Largest Killing Spree                      167800 non-null int64
Largest Multi Kill                         167800 non-null float64
First Blood                                167800 non-null object
Total Damage to Champions                  167800 non-null object
Physical Damage to Champions               167800 non-null object
Magic Damage to Champions                  167800 non-null object
True Damage to Champions                   167800 non-null object
Total Damage Dealt                         167800 non-null object
Physical Damage Dealt                      167800 non-null object
Magic Damage Dealt                         167800 non-null object
True Damage Dealt                          167800 non-null object
Largest Critical Strike                    167800 non-null object
Total Damage to Objectives                 167800 non-null object
Total Damage to Turrets                    167800 non-null object
Damage Healed                              167800 non-null object
Damage Taken                               167800 non-null object
Physical Damage Taken                      167800 non-null object
Magic Damage Taken                         167800 non-null object
True Damage Taken                          167800 non-null object
Wards Placed                               167800 non-null object
Wards Destroyed                            167800 non-null object
Stealth Wards Purchased                    167800 non-null object
Control Wards Purchased                    167800 non-null object
Gold Earned                                167800 non-null object
Gold Spent                                 167800 non-null object
Minions Killed                             167800 non-null object
Neutral Minions Killed                     167800 non-null object
Neutral Minions Killed in Team's Jungle    167800 non-null object
Neutral Minions Killed in Enemy Jungle     167800 non-null object
url                                        167800 non-null object
champion                                   157967 non-null object
dtypes: float64(1), int64(1), object(30)
memory usage: 23.0+ MB

In [31]:
df_no_dups = result_df

In [35]:
bad = df_no_dups[df_no_dups['champion']=='False']

AttributeError: 'DataFrame' object has no attribute 'tolist'

In [36]:
type(bad)

pandas.core.frame.DataFrame

In [37]:
bad.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url,champion
4400,0/5/2,0,0.1,○,8.1k,8.1k.1,0.0k,0.0k.1,324.7k,324.5k,...,-.1,4,16.0k,15.7k,314,36,18,4.1,https://matchhistory.na.leagueoflegends.com/en...,False
4401,3/3/8,3,1.0,○,11.1k,0.6k,9.6k,1.0k,248.9k,44.1k,...,-,14,15.6k,14.7k,52,198,146,9,https://matchhistory.na.leagueoflegends.com/en...,False
4402,5/3/2,3,2.0,○,20.3k,0.6k,19.1k,0.6k,302.5k,19.9k,...,-,10,17.2k,17.1k,290,42,38,1,https://matchhistory.na.leagueoflegends.com/en...,False
4403,5/3/4,3,2.0,○,22.5k,17.0k,5.0k,0.5k,425.3k,333.6k,...,-,14,21.2k,19.1k,421,43,33,-,https://matchhistory.na.leagueoflegends.com/en...,False
4404,0/6/10,0,0.0,○,2.9k,0.6k,1.8k,0.5k,18.8k,5.5k,...,-,27,11.1k,10.6k,51,-,-,-,https://matchhistory.na.leagueoflegends.com/en...,False

In [38]:
bad.info() # the number of columns with a False champion

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10720 entries, 4400 to 168069
Data columns (total 32 columns):
KDA                                        10720 non-null object
Largest Killing Spree                      10720 non-null int64
Largest Multi Kill                         10720 non-null float64
First Blood                                10720 non-null object
Total Damage to Champions                  10720 non-null object
Physical Damage to Champions               10720 non-null object
Magic Damage to Champions                  10720 non-null object
True Damage to Champions                   10720 non-null object
Total Damage Dealt                         10720 non-null object
Physical Damage Dealt                      10720 non-null object
Magic Damage Dealt                         10720 non-null object
True Damage Dealt                          10720 non-null object
Largest Critical Strike                    10720 non-null object
Total Damage to Objectives                 10720 non-null object
Total Damage to Turrets                    10720 non-null object
Damage Healed                              10720 non-null object
Damage Taken                               10720 non-null object
Physical Damage Taken                      10720 non-null object
Magic Damage Taken                         10720 non-null object
True Damage Taken                          10720 non-null object
Wards Placed                               10720 non-null object
Wards Destroyed                            10720 non-null object
Stealth Wards Purchased                    10720 non-null object
Control Wards Purchased                    10720 non-null object
Gold Earned                                10720 non-null object
Gold Spent                                 10720 non-null object
Minions Killed                             10720 non-null object
Neutral Minions Killed                     10720 non-null object
Neutral Minions Killed in Team's Jungle    10720 non-null object
Neutral Minions Killed in Enemy Jungle     10720 non-null object
url                                        10720 non-null object
champion                                   10720 non-null object
dtypes: float64(1), int64(1), object(30)
memory usage: 1.5+ MB

Empty DataFrame
Columns: [KDA, Largest Killing Spree, Largest Multi Kill, First Blood, Total Damage to Champions, Physical Damage to Champions, Magic Damage to Champions, True Damage to Champions, Total Damage Dealt, Physical Damage Dealt, Magic Damage Dealt, True Damage Dealt, Largest Critical Strike, Total Damage to Objectives, Total Damage to Turrets, Damage Healed, Damage Taken, Physical Damage Taken, Magic Damage Taken, True Damage Taken, Wards Placed, Wards Destroyed, Stealth Wards Purchased, Control Wards Purchased, Gold Earned, Gold Spent, Minions Killed, Neutral Minions Killed, Neutral Minions Killed in Team's Jungle, Neutral Minions Killed in Enemy Jungle, url, champion]
Index: []

[0 rows x 32 columns]

In [43]:
df_no_dups.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167800 entries, 0 to 168099
Data columns (total 32 columns):
KDA                                        167800 non-null object
Largest Killing Spree                      167800 non-null int64
Largest Multi Kill                         167800 non-null float64
First Blood                                167800 non-null object
Total Damage to Champions                  167800 non-null object
Physical Damage to Champions               167800 non-null object
Magic Damage to Champions                  167800 non-null object
True Damage to Champions                   167800 non-null object
Total Damage Dealt                         167800 non-null object
Physical Damage Dealt                      167800 non-null object
Magic Damage Dealt                         167800 non-null object
True Damage Dealt                          167800 non-null object
Largest Critical Strike                    167800 non-null object
Total Damage to Objectives                 167800 non-null object
Total Damage to Turrets                    167800 non-null object
Damage Healed                              167800 non-null object
Damage Taken                               167800 non-null object
Physical Damage Taken                      167800 non-null object
Magic Damage Taken                         167800 non-null object
True Damage Taken                          167800 non-null object
Wards Placed                               167800 non-null object
Wards Destroyed                            167800 non-null object
Stealth Wards Purchased                    167800 non-null object
Control Wards Purchased                    167800 non-null object
Gold Earned                                167800 non-null object
Gold Spent                                 167800 non-null object
Minions Killed                             167800 non-null object
Neutral Minions Killed                     167800 non-null object
Neutral Minions Killed in Team's Jungle    167800 non-null object
Neutral Minions Killed in Enemy Jungle     167800 non-null object
url                                        167800 non-null object
champion                                   157967 non-null object
dtypes: float64(1), int64(1), object(30)
memory usage: 23.0+ MB

In [44]:
######## This clean file is from the first scrape. We're going to 
######## clean the second smaller scrape and then add it to this and see where we're at.
clean_file = test_file = Path(r"F:\LeagueStats\scraping\cleaning\scraped_file_no_duplicates.csv")
df_no_dups.to_csv(clean_file, index=False, header=True)

In [45]:
file2 = Path(r"F:\LeagueStats\scraping\MatchHistoryScraping\delinquent_match_database.csv")
df2 = pd.read_csv(file2)

c:\python37\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (21,23,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
dup2 = df2[df2.duplicated()]

In [49]:
dup2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67290 entries, 170 to 98409
Data columns (total 32 columns):
KDA                                        67290 non-null object
Largest Killing Spree                      67290 non-null int64
Largest Multi Kill                         67290 non-null float64
First Blood                                67290 non-null object
Total Damage to Champions                  67290 non-null object
Physical Damage to Champions               67290 non-null object
Magic Damage to Champions                  67290 non-null object
True Damage to Champions                   67290 non-null object
Total Damage Dealt                         67290 non-null object
Physical Damage Dealt                      67290 non-null object
Magic Damage Dealt                         67290 non-null object
True Damage Dealt                          67290 non-null object
Largest Critical Strike                    67290 non-null object
Total Damage to Objectives                 67290 non-null object
Total Damage to Turrets                    67290 non-null object
Damage Healed                              67290 non-null object
Damage Taken                               67290 non-null object
Physical Damage Taken                      67290 non-null object
Magic Damage Taken                         67290 non-null object
True Damage Taken                          67290 non-null object
Wards Placed                               67290 non-null float64
Wards Destroyed                            67290 non-null object
Stealth Wards Purchased                    67290 non-null object
Control Wards Purchased                    67290 non-null object
Gold Earned                                67290 non-null object
Gold Spent                                 67290 non-null object
Minions Killed                             67290 non-null object
Neutral Minions Killed                     67290 non-null object
Neutral Minions Killed in Team's Jungle    67290 non-null object
Neutral Minions Killed in Enemy Jungle     67290 non-null object
url                                        67290 non-null object
champion                                   63441 non-null object
dtypes: float64(2), int64(1), object(29)
memory usage: 9.5+ MB

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 32 columns):
KDA                                        98410 non-null object
Largest Killing Spree                      98410 non-null int64
Largest Multi Kill                         98410 non-null float64
First Blood                                98410 non-null object
Total Damage to Champions                  98410 non-null object
Physical Damage to Champions               98410 non-null object
Magic Damage to Champions                  98410 non-null object
True Damage to Champions                   98410 non-null object
Total Damage Dealt                         98410 non-null object
Physical Damage Dealt                      98410 non-null object
Magic Damage Dealt                         98410 non-null object
True Damage Dealt                          98410 non-null object
Largest Critical Strike                    98410 non-null object
Total Damage to Objectives                 98410 non-null object
Total Damage to Turrets                    98410 non-null object
Damage Healed                              98410 non-null object
Damage Taken                               98410 non-null object
Physical Damage Taken                      98410 non-null object
Magic Damage Taken                         98410 non-null object
True Damage Taken                          98410 non-null object
Wards Placed                               98410 non-null float64
Wards Destroyed                            98410 non-null object
Stealth Wards Purchased                    98410 non-null object
Control Wards Purchased                    98410 non-null object
Gold Earned                                98410 non-null object
Gold Spent                                 98410 non-null object
Minions Killed                             98410 non-null object
Neutral Minions Killed                     98410 non-null object
Neutral Minions Killed in Team's Jungle    98410 non-null object
Neutral Minions Killed in Enemy Jungle     98410 non-null object
url                                        98410 non-null object
champion                                   92142 non-null object
dtypes: float64(2), int64(1), object(29)
memory usage: 13.1+ MB

In [51]:
no_dup2 = df2.drop_duplicates()

In [52]:
no_dup2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31120 entries, 0 to 98389
Data columns (total 32 columns):
KDA                                        31120 non-null object
Largest Killing Spree                      31120 non-null int64
Largest Multi Kill                         31120 non-null float64
First Blood                                31120 non-null object
Total Damage to Champions                  31120 non-null object
Physical Damage to Champions               31120 non-null object
Magic Damage to Champions                  31120 non-null object
True Damage to Champions                   31120 non-null object
Total Damage Dealt                         31120 non-null object
Physical Damage Dealt                      31120 non-null object
Magic Damage Dealt                         31120 non-null object
True Damage Dealt                          31120 non-null object
Largest Critical Strike                    31120 non-null object
Total Damage to Objectives                 31120 non-null object
Total Damage to Turrets                    31120 non-null object
Damage Healed                              31120 non-null object
Damage Taken                               31120 non-null object
Physical Damage Taken                      31120 non-null object
Magic Damage Taken                         31120 non-null object
True Damage Taken                          31120 non-null object
Wards Placed                               31120 non-null float64
Wards Destroyed                            31120 non-null object
Stealth Wards Purchased                    31120 non-null object
Control Wards Purchased                    31120 non-null object
Gold Earned                                31120 non-null object
Gold Spent                                 31120 non-null object
Minions Killed                             31120 non-null object
Neutral Minions Killed                     31120 non-null object
Neutral Minions Killed in Team's Jungle    31120 non-null object
Neutral Minions Killed in Enemy Jungle     31120 non-null object
url                                        31120 non-null object
champion                                   28701 non-null object
dtypes: float64(2), int64(1), object(29)
memory usage: 4.4+ MB

In [53]:
result_df2 = df2.drop_duplicates(subset=no_champ_header, keep='first')
result_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24650 entries, 0 to 98389
Data columns (total 32 columns):
KDA                                        24650 non-null object
Largest Killing Spree                      24650 non-null int64
Largest Multi Kill                         24650 non-null float64
First Blood                                24650 non-null object
Total Damage to Champions                  24650 non-null object
Physical Damage to Champions               24650 non-null object
Magic Damage to Champions                  24650 non-null object
True Damage to Champions                   24650 non-null object
Total Damage Dealt                         24650 non-null object
Physical Damage Dealt                      24650 non-null object
Magic Damage Dealt                         24650 non-null object
True Damage Dealt                          24650 non-null object
Largest Critical Strike                    24650 non-null object
Total Damage to Objectives                 24650 non-null object
Total Damage to Turrets                    24650 non-null object
Damage Healed                              24650 non-null object
Damage Taken                               24650 non-null object
Physical Damage Taken                      24650 non-null object
Magic Damage Taken                         24650 non-null object
True Damage Taken                          24650 non-null object
Wards Placed                               24650 non-null float64
Wards Destroyed                            24650 non-null object
Stealth Wards Purchased                    24650 non-null object
Control Wards Purchased                    24650 non-null object
Gold Earned                                24650 non-null object
Gold Spent                                 24650 non-null object
Minions Killed                             24650 non-null object
Neutral Minions Killed                     24650 non-null object
Neutral Minions Killed in Team's Jungle    24650 non-null object
Neutral Minions Killed in Enemy Jungle     24650 non-null object
url                                        24650 non-null object
champion                                   22789 non-null object
dtypes: float64(2), int64(1), object(29)
memory usage: 3.5+ MB

In [58]:
dupdf2 = df2[df2.duplicated()]

In [64]:
dupdf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67290 entries, 170 to 98409
Data columns (total 32 columns):
KDA                                        67290 non-null object
Largest Killing Spree                      67290 non-null int64
Largest Multi Kill                         67290 non-null float64
First Blood                                67290 non-null object
Total Damage to Champions                  67290 non-null object
Physical Damage to Champions               67290 non-null object
Magic Damage to Champions                  67290 non-null object
True Damage to Champions                   67290 non-null object
Total Damage Dealt                         67290 non-null object
Physical Damage Dealt                      67290 non-null object
Magic Damage Dealt                         67290 non-null object
True Damage Dealt                          67290 non-null object
Largest Critical Strike                    67290 non-null object
Total Damage to Objectives                 67290 non-null object
Total Damage to Turrets                    67290 non-null object
Damage Healed                              67290 non-null object
Damage Taken                               67290 non-null object
Physical Damage Taken                      67290 non-null object
Magic Damage Taken                         67290 non-null object
True Damage Taken                          67290 non-null object
Wards Placed                               67290 non-null float64
Wards Destroyed                            67290 non-null object
Stealth Wards Purchased                    67290 non-null object
Control Wards Purchased                    67290 non-null object
Gold Earned                                67290 non-null object
Gold Spent                                 67290 non-null object
Minions Killed                             67290 non-null object
Neutral Minions Killed                     67290 non-null object
Neutral Minions Killed in Team's Jungle    67290 non-null object
Neutral Minions Killed in Enemy Jungle     67290 non-null object
url                                        67290 non-null object
champion                                   63441 non-null object
dtypes: float64(2), int64(1), object(29)
memory usage: 9.5+ MB

In [69]:
series = [('Stranger Things', 3, 'Millie'),
          ('Game of Thrones', 8, 'Emilia'), ('La Casa De Papel', 4, 'Sergio'),
          ('Westworld', 3, 'Evan Rachel'), ('Stranger Things', 3, 'Millie'),
          ('Stranger Things', 3, 'Millie'),
          ('Stranger Things', 3, 'Millie'),('Stranger Things', 3, 'Millie')]

In [70]:
dfobj = pd.DataFrame(series, columns=['Name', 'Seasons', 'Actor'])
dfobj2 = dfobj[dfobj.duplicated()]

In [71]:
dfobj2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 4 to 7
Data columns (total 3 columns):
Name       4 non-null object
Seasons    4 non-null int64
Actor      4 non-null object
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

dfobj2

In [72]:
print(dfobj2)

              Name  Seasons   Actor
4  Stranger Things        3  Millie
5  Stranger Things        3  Millie
6  Stranger Things        3  Millie
7  Stranger Things        3  Millie

In [73]:
dfobj.drop_duplicates()

               Name  Seasons        Actor
0   Stranger Things        3       Millie
1   Game of Thrones        8       Emilia
2  La Casa De Papel        4       Sergio
3         Westworld        3  Evan Rachel

In [95]:
df.head()

,KDA,Largest Killing Spree,Largest Multi Kill,First Blood,Total Damage to Champions,Physical Damage to Champions,Magic Damage to Champions,True Damage to Champions,Total Damage Dealt,Physical Damage Dealt,...,Stealth Wards Purchased,Control Wards Purchased,Gold Earned,Gold Spent,Minions Killed,Neutral Minions Killed,Neutral Minions Killed in Team's Jungle,Neutral Minions Killed in Enemy Jungle,url,champion
0,4/4/1,3,2.0,○,24.4k,18.9k,3.5k,2.0k,221.8k,196.6k,...,-.1,6,14.3k,14.3k.1,270,34,27,-.2,http://matchhistory.na.leagueoflegends.com/en/...,Jayce
1,0/7/5,0,0.0,○,3.0k,2.0k,0.6k,0.4k,109.4k,69.7k,...,-,16,8.4k,8.3k,45,98,73,1,http://matchhistory.na.leagueoflegends.com/en/...,JarvanIV
2,0/2/5,0,0.0,○,21.7k,0.6k,18.9k,2.3k,196.2k,18.5k,...,-,9,12.5k,12.2k,292,12,12,-,http://matchhistory.na.leagueoflegends.com/en/...,Orianna
3,1/4/2,1,1.0,○,18.8k,16.1k,1.0k,1.7k,309.8k,293.4k,...,-,1,15.1k,15.3k,367,39,39,-,http://matchhistory.na.leagueoflegends.com/en/...,MissFortune
4,0/4/3,0,0.0,○,5.0k,0.5k,3.6k,0.9k,27.7k,8.3k,...,-,26,7.1k,6.5k,37,-,-,-,http://matchhistory.na.leagueoflegends.com/en/...,Nautilus

In [108]:
champlist = df.champion.unique().tolist()

In [129]:
count = 0
for i in champlist:
    print (count)
    print(i)
    count = count + 1

0
Jayce
1
JarvanIV
2
Orianna
3
MissFortune
4
Nautilus
5
Aatrox
6
Elise
7
Qiyana
8
Varus
9
TahmKench
10
Renekton
11
RekSai
12
Mordekaiser
13
Xayah
14
Rakan
15
Sejuani
16
Azir
17
Pantheon
18
Quinn
19
Olaf
20
Leona
21
Ryze
22
Velkoz
23
Braum
24
Kennen
25
Ornn
26
Vladimir
27
LeeSin
28
Rumble
29
Thresh
30
Camille
31
Fizz
32
Syndra
33
Senna
34
Irelia
35
Ekko
36
Hecarim
37
Sivir
38
Unnamed: 31
39
Cassiopeia
40
Gragas
41
Lucian
42
Aphelios
43
Zoe
44
Sylas
45
Bard
46
Gangplank
47
Leblanc
48
Yasuo
49
Malphite
50
DrMundo
51
Diana
52
Swain
53
Urgot
54
Ezreal
55
Kaisa
56
Taliyah
57
Zac
58
Karthus
59
Nocturne
60
Nidalee
61
Kassadin
62
Veigar
63
Viktor
64
Ashe
65
Trundle
66
Riven
67
Blitzcrank
68
Zilean
69
Tristana
70
Sett
71
Alistar
72
Galio
73
Annie
74
Fiora
75
Akali
76
Kindred
77
Shyvana
78
Soraka
79
Lulu
80
XinZhao
81
Poppy
82
Maokai
83
Morgana
84
Lissandra
85
Rengar
86
Kayle
87
Karma
88
Sona
89
Kled
90
Ziggs
91
Skarner
92
Jhin
93
Gnar
94
Xerath
95
Chogath
96
Kalista
97
Taric
98
Yuumi
99
Illaoi
100
Yorick
101
Zyra
102
Shen
103
Vayne
104
Heimerdinger
105
Nami
106
Draven
107
Pyke
108
Ahri
109
Malzahar
110
Darius
111
Caitlyn
112
AurelionSol
113
Tryndamere
114
nan
115
MasterYi
116
Ivern
117
Graves
118
Twitch
119
Singed
120
Jinx
121
Corki
122
False
123
Neeko
124
Sion
125
Lux
126
Khazix
127
Volibear
128
Shaco
129
Anivia
130
Warwick
131
Janna
132
Amumu
133
Zed
134
KogMaw
135
Jax
136
MonkeyKing
137
Teemo
138
Brand
139
Nunu
140
Talon
141
Fiddlesticks
142
Evelynn
143
TwistedFate
144
Kayn
145
Katarina
146
Vi
147
Rammus
148
Lillia
149
Garen
150
Nasus
151
Udyr

In [ ]:
#index nan 114
#index unnamed: 31 38